services:
 # Service PHP-FPM
  app:
      build: ./docker/php
      container_name: php-fpm-app
      restart: unless-stopped
      volumes:
          - ./app:/app
      networks:
        - app-network
      depends_on:
        - redis
  # Service Redis
  redis:
      image: redis:alpine
      container_name: redis
      restart: unless-stopped
      networks:
        - app-network
      ports:
        - ${REDIS_PORT}:6379
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./app:/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    ports:
      - 8046:80
      - 8045:443
    depends_on:
      - app
networks:
  app-network:
    driver: bridge
